/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  z-index: 10;
}

.logo {
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    var(--text-white),
    var(--gradient-purple)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.nav-actions {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
